<% if !value.nil? %>
  <%= form_tag "/update", method: :post, remote: true, class: 'attr-form', 
    id: "attr-form-#{attr}", style: (value[0] == nil) ? 'display:none' : '' do %>
    <h5><%= format_attr key %>:</h5>
    <% if value[1] == :single %>
      <% if attr == "birthday" || attr == "memberSince" %>
        <div id="attr-<%= attr %>" class="attr">
          <%= format_date value[0][0] if value[0] != nil %>
        </div>
      <% elsif attr == "github" %>
        <a href="https://github.com/<%= value[0][0] if value[0] != nil %>">
          <div id="attr-<%= attr %>" class="attr">
            <%= value[0][0] if value[0] != nil %>
          </div>
        </a>
      <% else %>
        <div id="attr-<%= attr %>" class="attr">
          <%= value[0][0] if value[0] != nil %>
        </div>
      <% end %>
      <div id="attr-input-div-<%= attr %>" class="attr-input-div"></div>
    <% else %>
      <% count = 0 %>
      <% if value[0] != nil %>
        <% if value[0].length != 1 %>
          <br>
        <% end %>
        <% value[0].each do |elem| %>
          <% if attr == "mobile" %>
            <div id="attr-<%= attr %>-<%= count %>" class="attr">
              <a href="tel:<%= elem.tr("() -", "") %>"><%= elem %></a>
            </div>
          <% elsif attr == "mail" %>
            <div id="attr-<%= attr %>-<%= count %>" class="attr">
                <a href="mailto:<%= elem %>"><%= elem %></a>
            </div>
          <% else %>
            <div id="attr-<%= attr %>-<%= count %>" class="attr">
              <%= elem %>
            </div>
          <% end %>
          <div id="attr-input-div-<%= attr %>-<%= count %>" class="attr-input-div"></div>
          <% count += 1 %>
        <% end %>
      <% end %>
      <div id="attr-input-div-<%= attr %>-<%= count %>" class="attr-input-div"></div>
    <% end %>
  <% end %>
  <% if attr == "ibutton" %>
    <%= button_tag "view iButtons", id: "ibutton-toggle" %>
  <% end %>
<% end %>
