<% if !value.nil? %>
    <%= form_tag "/update", method: :post, remote: true, id: "attr_#{attr}_form" do %>
        <% if value[1] == :single %>
            <h5><%= format_attr key %>:</h5>
            <% if value[0] != nil %>
                <div id="attr_<%= attr %>" class="attr"><%= value[0][0] %></div>
            <% else %>
                <div id="attr_<%= attr %>" class="attr"></div>
            <% end %>
            <div id="attr_<%= attr %>_input_div" class="attr_input_div"></div>
        <% else %>
            <h5><%= format_attr key %>:</h5>
            <% count = 0 %>
            <% if value[0] != nil %>
                <% value[0].each do |elem| %>
                    <div id="attr_<%= count %>_<%= attr %>" class="attr"><%= elem %></div>
                    <div id="attr_<%= count %>_<%= attr %>_input_div" class="attr_input_div"></div>
                    <% count += 1 %>
                <% end %>
                <div id="attr_<%= count %>_<%= attr %>_input_div" class="attr_input_div"></div>
            <% else %>
                <div id="attr_<%= count %>_<%= attr %>_input_div" class="attr_input_div"></div>
            <% end %>

        <% end %>
        <%= submit_tag "", style: "display:none" %>
    <% end %>
<% end %>
