<div style="float:left;">
    <h3 id="cn_title"><%= cn %></h3>
</div> 
<div>
    <h3 id="image_title">
        <% if @user["alumni"] == ["1"] || @user["alumni"] == [["1"], :single] %>
            Alumni
        <% elsif @user["onfloor"] == ["1"] || @user["onfloor"] == [["1"], :single] %>
            Active - on-floor
        <% else %>
            Active - off-floor
        <% end %>
        <img id="image_thumb" class="thumbnail" src="/image/<%= uid %>">
        <% if edit %>
            <%= form_tag('/update', method: :post, multipart: true, id: 'image_form') do %>
                <div style="float: left"><%= file_field_tag 'picture' %></div>
                <div style="float: right"><%= submit_tag "Submit", id: "image_button" %></div>
            <% end %>
        <% end %>
    </h3>
</div>
<br>

