<div style="float:left;">
    <h3 id="cn_title"><%= cn %></h3>
</div> 
<h3 id="image_title">
    <img id="image_thumb" class="thumbnail" src="/image/<%= uid %>">
    <div id="info_parent">
        <div id="info_container">
            <div id="status_container"><%= @status %></div>
            <% @positions.each do |position| %>
                <% if position == "Social Director" %>
                    <span class="radius secondary round label position_label">
                        <span data-tooltip class="position_tooltip" title="SOCIAL GOOD, TECHNICAL BAD!">
                            <%= position %>
                        </span>
                    </span>
                <% elsif position == "Financial Director" %>
                    <span class="radius secondary round label position_label">
                        <span data-tooltip class="position_tooltip" title="Dues, Swag, Receipts, Amen">
                            <%= position %>
                        </span>
                    </span>
                <% elsif position == "RTP" %>
                    <span class="radius secondary round label position_label">
                        <span data-tooltip class="position_tooltip" title="Doing it live">
                            <%= position %>
                        </span>
                    </span>
                <% elsif position == "Drink Admin" %>
                    <span class="radius secondary round label position_label">
                        <span data-tooltip class="position_tooltip" title="Drink is down">
                            <%= position %>
                        </span>
                    </span>
                <% else %>
                    <span class="radius secondary round label position_label">
                        <%= position %>
                    </span>
                <% end %>
            <% end %>
        </div>
    </div>
    
    <% if edit %>
        <%= form_tag('/update', method: :post, multipart: true, id: 'image_form') do %>
            <div style="float: left"><%= file_field_tag 'picture' %></div>
            <div style="float: right"><%= submit_tag 'Submit', id: 'image_button' %></div>
        <% end %>
    <% end %>
</h3>
<br>

