<div style="float: left;">
    <h3 id="cn-title"><%= cn %></h3>
</div> 
<h3 id="image-title">
    <img id="image-thumb" class="thumbnail" src="/image/<%= uid %>">
    <div id="info-parent">
        <div id="info-container">
            <div id="status-container"><%= @status %></div>
            <% @positions.each do |position| %>
                <% if position == "Social Director" %>
                    <span class="radius secondary round label position-label">
                        <span data-tooltip class="position-tooltip" title="SOCIAL GOOD, TECHNICAL BAD!">
                            <%= position %>
                        </span>
                    </span>
                <% elsif position == "Financial Director" %>
                    <span class="radius secondary round label position-label">
                        <span data-tooltip class="position-tooltip" title="Dues, Swag, Receipts, Amen">
                            <%= position %>
                        </span>
                    </span>
                <% elsif position == "RTP" %>
                    <span class="radius secondary round label position-label">
                        <span data-tooltip class="position-tooltip" title="Doing it live">
                            <%= position %>
                        </span>
                    </span>
                <% elsif position == "Drink Admin" %>
                    <span class="radius secondary round label position-label">
                        <span data-tooltip class="position-tooltip" title="Drink is down">
                            <%= position %>
                        </span>
                    </span>
                <% else %>
                    <span class="radius secondary round label position-label">
                        <%= position %>
                    </span>
                <% end %>
            <% end %>
        </div>
    </div>
    
    <% if edit %>
        <%= form_tag('/update', method: :post, multipart: true, id: 'image-form') do %>
            <div style="float: left"><%= file_field_tag 'picture' %></div>
            <div style="float: right"><%= submit_tag 'Submit', id: 'image-button' %></div>
        <% end %>
    <% end %>
</h3>
<br>
