<%= render partial: "userHeading", locals: {cn: @user["cn"][0][0], uid: @uid } %>
<div class="panel_container">
    <% if !@user["cn"].nil? || !@user["birthday"].nil? %>
        <div class="info_panel">
            <h4>Personal Info:</h4>
            <%= render partial: "attr_edit", locals: {attr: "cn", key: "common name", value: @user["cn"] } %>
            <%= render partial: "attr_edit", locals: {attr: "birthday", key: "birthday", value: @user["birthday"] } %>
        </div>
    <% end %>
    <% if !@user["mobile"].nil? || !@user["mail"].nil? %>
        <div class="info_panel">
            <h4>Contact Info:</h4>
            <%= render partial: "attr_edit", locals: {attr: "mobile", key: "phone number", value: @user["mobile"] } %>
            <%= render partial: "attr_edit", locals: {attr: "mail", key: "email", value: @user["mail"] } %>
        </div>
    <% end %>
    <% if !@user["roomNumber"].nil? || !@user["housingPoints"].nil? || !@user["drinkBalance"].nil? || 
        !@user["drinkAdmin"].nil? || !@user["ibutton"].nil? || !@user["memberSince"].nil? ||
        !@user["loginShell"].nil? %>
        <div class="info_panel">
            <h4>CSH Info:</h4>
            <%= render partial: "attr_edit", locals: {attr: "roomNumber", key: "room number", value: @user["roomNumber"] } %>
            <%= render partial: "attr_edit", locals: {attr: "housingPoints", key: "housing points", value: @user["housingPoints"] } %>
            <%= render partial: "attr_edit", locals: {attr: "drinkBalance", key: "drink balance", value: @user["drinkBalance"] } %>
            <%= render partial: "attr_edit", locals: {attr: "drinkAdmin", key: "drink admin", value: @user["drinkAdmin"] } %>
            <%= render partial: "attr_edit", locals: {attr: "ibutton", key: "ibutton", value: @user["ibutton"] } %>
            <%= render partial: "attr_edit", locals: {attr: "memberSince", key: "member since", value: @user["memberSince"] } %>
            <%= render partial: "attr_edit", locals: {attr: "loginShell", key: "login shell", value: @user["loginShell"] } %>
        </div>
    <% end %>
    <% if !@user["ritDn"].nil? || !@user["major"].nil? || !@user["ritYear"].nil? || !@user["ritAlumni"] %>
        <div class="info_panel">
            <h4>RIT Info:</h4>
            <%= render partial: "attr_edit", locals: {attr: "ritDn", key: "rit dn", value: @user["ritDn"] } %>
            <%= render partial: "attr_edit", locals: {attr: "major", key: "major", value: @user["major"] } %>
            <%= render partial: "attr_edit", locals: {attr: "ritYear", key: "rit year", value: @user["ritYear"] } %>
            <%= render partial: "attr_edit", locals: {attr: "ritAlumni", key: "rit alumni", value: @user["ritAlumni"] } %>
        </div>
    <% end %>
    <div class="info_panel">
        <h4>Groups:</h4>
        <% @groups.each do |group| %>
            <%= link_to group, "/group/#{group}" %>&nbsp;
        <% end %>
    </div>
    <% if !@user["github"].nil? || !@user["plex"].nil? || !@user["googleScreenName"].nil? || 
        !@user["eulerCode"].nil? || !@user["aolScreenName"].nil? || !@user["msnScreenName"].nil? || 
        !@user["yahooScreenName"].nil? || !@user["twitterName"].nil? || !@user["homepageURL"].nil? || 
        !@user["blogURL"].nil? %>
        <div class="info_panel">
            <h4>Online Info:</h4>
            <%= render partial: "attr_edit", locals: {attr: "homepageURL", key: "homepage url", value: @user["homepageURL"] } %>
            <%= render partial: "attr_edit", locals: {attr: "blogURL", key: "blog url", value: @user["blogURL"] } %>
            <%= render partial: "attr_edit", locals: {attr: "github", key: "github", value: @user["github"] } %>
            <%= render partial: "attr_edit", locals: {attr: "googleScreenName", key: "google", value: @user["googleScreenName"] } %>
            <%= render partial: "attr_edit", locals: {attr: "plex", key: "plex", value: @user["plex"] } %>
            <%= render partial: "attr_edit", locals: {attr: "eulerCode", key: "euler", value: @user["eulerCode"] } %>
            <%= render partial: "attr_edit", locals: {attr: "twitterName", key: "twitter", value: @user["twitterName"] } %>
            <%= render partial: "attr_edit", locals: {attr: "yahooScreenName", key: "yahoo", value: @user["yahooScreenName"] } %>
            <%= render partial: "attr_edit", locals: {attr: "msnScreenName", key: "msn", value: @user["msnScreenName"] } %>
            <%= render partial: "attr_edit", locals: {attr: "aolScreenName", key: "aol", value: @user["aolScreenName"] } %>
        </div>
    <% end %>
</div>
<br>
<div class="info_panel">
    <h4>Other Attributes:</h4>
    <div class="panel_container">
    <% @user.except("cn", "birthday", "mobile", "mail", "homepageURL", 
                    "housingPoints", "drinkBalance", "drinkAdmin", "ibutton", 
                    "memberSince", "loginShell", "ritDn", "major", "ritYear", 
                    "github", "plex", "eulerCode", "jpegPhoto", "roomNumber", 
                    "googleScreenName", "twitterName", "yahooScreenName", "dn",
                    "msnScreenName", "aolScreenName", "ritAlumni", "blogURL").each do |attr, values| %>
        <div class="other_attr">                
            <%= render partial: "attr_edit", locals: {attr: attr, key: attr, value: values } %>
        </div>
    <% end %>
    </div>
</div>
<%= button_tag "edit", id: "edit" %>

