<div class="row">
    <div class="small-8 columns">
        <h3><%= @user["cn"][0][0] %></h3>
    </div>
    <div class="small-4 columns">
        <% if @user["active"][0] == ["1"] %>
            <% if @user["onfloor"][0] == ["1"] %>
                <h3><strong>Active - on-floor</strong></h3>
            <% else %>
                <h3><strong>Active - off-floor</strong></h3>
            <% end %>
        <% else %>
            <h3><strong>Alumni</strong></h3>
        <% end %>
    </div>
</div>
    <table style="width:100%;">
        <thead>
            <tr>
                <th>key</th>
                <th>value</th>
            </tr>
        </thead>
        <tbody>
            <% @user.each do |attr, values| %>
                <tr>
                    <td class="edit-row"><%= format_attr attr %></td>
                    <td class="edit-row">
                        <%= form_tag "/update", multipart: true do %>
                            <div class="row" style="margin:5px">
                                <% if !mobile_device? %>
                                    <div class="small-10 columns">
                                <% end %>
                                    <% if attr.to_s == "birthday" %>
                                        <% if values[0] != [""] %>
                                            <%= text_field("fields", "m:#{attr}",  value: format_date(values[0])) %>
                                        <% else %>
                                            <%= text_field("fields", "m:#{attr}") %>
                                        <% end %>
                                    <% elsif attr.to_s == "jpegPhoto" %>
                                        <div class="row">
                                            <div class="medium-6 columns">
                                                <%= ('<img width="60px" src="data:image/jpg;base64,%s">' % 
                                                    Base64.encode64(values[0][0])).html_safe %>
                                            </div>
                                            <div class="medium-6 columns">
                                                <%= label_tag("photo", "Photo") %>
                                                <%= file_field_tag("photo") %>
                                            </div>
                                        </div>
                                    <% elsif values.length == 1 %>
                                        <%= text_field("fields", "m:#{attr}", value: values[0]) %>
                                    <% else %>
                                        <% i = 1 %>
                                        <% values[0].each do |a| %>
                                            <%= text_field("fields", "m_#{i}:#{attr}", value: a) %>
                                            <% i += 1 %>
                                        <% end %>
                                        <% if values[1] == :multiple && values[0] != [""] %>
                                            <%= text_field("fields", "m_#{i}:#{attr}") %>
                                        <% end %>
                                    <% end %>
                                <% if !mobile_device? %>
                                    </div>
                                    <div class="small-2 columns">
                                        <%= submit_tag "Submit", class: "edit-button [tiny small large radius round]" %>
                                    </div>
                                <% else %>
                                    <%= submit_tag "Submit", class: "edit-button [tiny small large radius round]" %>
                                <% end %>
                            </div>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
