<div class="row">
    <div class="small-8 columns">
        <h3><%= @user["cn"][0][0] %></h3>
    </div>
    <div class="small-4 columns">
        <% if @user["active"][0] == ["1"] %>
            <% if @user["onfloor"][0] == ["1"] %>
                <h3><strong>Active - on-floor</strong></h3>
            <% else %>
                <h3><strong>Active - off-floor</strong></h3>
            <% end %>
        <% else %>
            <h3><strong>Alumni</strong></h3>
        <% end %>
    </div>
</div>
    <table style="width:100%;">
        <thead>
            <tr>
                <th width="30%">key</th>
                <th width="70%">value</th>
            </tr>
        </thead>
        <tbody>
            <% @user.each do |attr, values| %>
                <tr>
                    <td width="30%" class="edit_row" style="word-break: break-all;"><%= attr %></td>
                    <td width="70%" class="edit_row">
                        <%= form_tag "/update" do %>
                            <div class="row">
                                <% if !mobile_device? %>
                                    <div class="small-10 columns">
                                <% end %>
                                    <% if attr.to_s == "birthday" %>
                                        <% if values[0] != [""] %>
                                            <%= text_field("fields", "m:#{attr}",  value: format_date(values[0])) %>
                                        <% else %>
                                            <%= text_field("fields", "m:#{attr}") %>
                                        <% end %>
                                    <% elsif values.length == 1 %>
                                        <%= text_field("fields", "m:#{attr}", value: values[0]) %>
                                    <% else %>
                                        <% i = 1 %>
                                        <% values[0].each do |a| %>
                                            <%= text_field("fields", "m_#{i}:#{attr}", value: a) %>
                                            <% i += 1 %>
                                        <% end %>
                                        <% if values[1] == :multiple && values[0] != [""] %>
                                            <%= text_field("fields", "m_#{i}:#{attr}") %>
                                        <% end %>
                                    <% end %>
                                <% if !mobile_device? %>
                                    </div>
                                    <div class="small-2 columns">
                                        <%= submit_tag "Submit", class: "edit_page button [tiny small large radius round]" %>
                                    </div>
                                <% else %>
                                    <%= submit_tag "Submit", class: "edit_page button [tiny small large radius round]" %>
                                <% end %>
                            </div>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
