<div class="row">
    <div class="small-8 columns">
        <h3><%= @user["cn"][0] %></h3>
    </div>
    <div class="small-4 columns">
        <% if @user["active"] == ["1"] %>
            <% if @user["onfloor"] == ["1"] %>
                <h3><strong>Active - on-floor</strong></h3>
            <% else %>
                <h3><strong>Active - off-floor</strong></h3>
            <% end %>
        <% else %>
            <h3><strong>Alumni</strong></h3>
        <% end %>
    </div>
</div>
<table style="width: 100%;">
    <thead>
        <tr>
            <th>key</th>
            <th>value</th>
        </tr>
    </thead>
    <tbody>
        <%= form_tag "/update" do %>
            <% @user.each do |attr, values| %>
                <tr>
                    <td><%= attr %></td>
                    <td>
                        <% if attr.to_s == "birthday" || attr.to_s == "memberSince" %>
                            <%= format_date(values[0]) %>
                        <% else %>
                            <% values.each do |a| %>
                                <%= text_field("fields", attr, value: a) %>
                            <% end %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
            <%= submit_tag 'Save' %>
        <% end %>
    </tbody>
</table>
