<br />
<% if @current %>
    <div class="panel profiles-panel panel-default profiles-panel-default">
        <nav class="pagination-container"> 
            <ul class="pagination">
                <% ("a".ord.."z".ord).each do |char| %>
                    <% if char == @current.ord %>
                        <li class="active">
                    <% else %>
                        <li>
                    <% end %>
                    <a rel="start" href="/<%= @url %>?page=<%= char.chr %>" style="padding: 7px"><%= char.chr %></a></li>
                <% end %>
            </ul>
            <br />
        </nav>
    </div>
<% end %>

<% if @users.length == 0 %>
  <h3 style="text-align: center">No Users found</h3>
<% else %>
  <div class="row">
    <% @users.each do |user| %>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="panel profiles-panel panel-default profiles-panel-default">
                <div class="panel-heading">
                    <%= link_to "/user/#{user["uid"][0]}"  do %>
                        <div class="row">
                            <div class="col-xs-3 img-col">
                                <%= image_tag "/image/#{user["uid"][0]}", class: "profile-img" %>
                            </div><!-- /.col-xs-3 img-col -->
                            <div class="col-xs-9 uid-col">
                                <p class="uid"><%= user["uid"][0] %><p>
                            </div><!-- /.col-xs-9 uid-col -->
                        </div><!-- /.row -->
                    <% end %>
                </div><!-- /.panel-heading user-header -->
                <div class="panel-body user-body">
                    <%= user["cn"][0] %>
                </div><!-- /.panel-body -->
            </div><!-- /.panel panel-default -->
        </div><!-- col-lg-2 col-md-3 col-sm-6 -->
    <% end %>
  </div>
<% end %>
