<div class="row">
    <div class="small-8 columns">
        <h3><%= @user["cn"][0] %></h3>
    </div>
    <div class="small-4 columns">
        <% if @user["active"] == ["1"] %>
            <% if @user["onfloor"] == ["1"] %>
                <h3><strong>Active - on-floor</strong></h3>
            <% else %>
                <h3><strong>Active - off-floor</strong></h3>
            <% end %>
        <% else %>
            <h3><strong>Alumni</strong></h3>
        <% end %>
    </div>
</div>
<table style="width: 100%;  table-layout:fixed;">
    <thead>
        <tr>
            <th>Attributes</th>
            <th>Values</th>
        </tr>
    </thead>
    <tbody>
        <% @user.each do |attr, values| %>
            <tr>
                <td style="word-break: break-all;"><%= format_attr attr %></td>
                <td>
                    <% if attr.to_s == "birthday" || attr.to_s == "memberSince" %>
                        <%= format_date(values[0]) %>
                    <% elsif attr.to_s == "jpegPhoto" %>
                        <%= ('<img src="data:image/jpg;base64,%s">' % Base64.encode64(values[0])).html_safe %>
                    <% else %>
                        <% values.each do |a| %>
                            <div style="word-break: break-all;"><%= a %></div>
                        <% end %>
                    <% end %>
                </td>
            </tr>
        <% end %>
        <tr>
            <td>Groups</td>
            <td>
                <% @groups.each do |group| %>
                    <%= link_to group, "/group/#{group}" %>&nbsp;
                <% end %>
            </td>
        </tr>
    </tbody>
</table>
<% if @allow_edit %>
    <%= link_to "Edit", {controller: 'users', action: 'edit'}, {class: "button [large radius round]" } %>
<% end %>
