<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/favicon.ico">
            
    <title>CSH Profiles</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <% if @user %>
      <body style="min-width: 420px">
  <% else %>
      <body>
    <% end %>
    <div id="menu">
      <nav class="top-bar" data-topbar data-options="is_hover: false">
        <ul class="title-area">
		  <!-- Title Area -->
          <li class="name">
            <h1><%= link_to (image_tag("/assets/csh.png", :border => 0, :alt => 'CSH Logo', ) + " Profiles"), root_path %></h1>
		  </li>
		  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>  
		</ul>
        <section class="top-bar-section">
		  <!-- Left Nav Section -->
		  <ul class="left">
		  </ul>
		  <!-- Right Nav Section -->
          <ul class="right">
            <li><%= link_to "Members Home", "https://members.csh.rit.edu" %></li>
            <li><%= link_to "Public Site", "http://csh.rit.edu" %></li>
            <li><%= link_to "Webauth Logout", "https://members.csh.rit.edu/logout" %></li>
		  </ul>
		</section>
	  </nav>
	</div>
    <div id="main" class="row ">
        <div class="large-12 columns" id="container">
            <div class="row panel" id="main-header">
                <div id="view-options" class="button-bar">
                    <%= link_to "Users", {controller: 'users', action: 'list_users'}, {class: "button [tiny small large radius round]" } %>
                    <%= link_to "Groups", {controller: 'users', action: 'list_groups'}, {class: "button [tiny small large radius round]" } %>
                    <%= link_to "Years", {controller: 'users', action: 'list_years'}, {class: "button [tiny small large radius round]" } %>
                    <%= link_to "E-Board", "/group/eboard", {class: "button [tiny small large radius round]" } %>
                    <%= link_to "RTPs", "/group/rtp", {class: "button [tiny small large radius round]" } %>
                    <%= link_to "Me", "/user/#{request.headers['WEBAUTH_USER']}", {class: "button [tiny small large radius round]" } %>
                </div>
                <div id="search">
                     <%= form_tag("/search", method: "post") do %>
                        <%= text_field("search", "search", size: "15", placeholder: "search...") %>
                    <% end %>
                </div>
            </div>
            <% flash.each do |key, value| %>
                <div data-alert class="alert-box">
                    <%= value %>
                    <a href="#" class="close">&times;</a>
                </div>
            <% end %>
            <%= yield %>
        </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
