<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSH Profiles</title>
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <navbar><!-- Navbar -->
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><%= image_tag("csh.png", boder: 0, alt: 'CSH Logo', class: 'logo') %><span>Profiles</span></a>
                </div> <!-- /.navbar-header -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://members.csh.rit.edu">Members Portal</a></li>
                        <li><a href="http://csh.rit.edu">Public Site</a></li>
                        <li><a href="https://webauth.csh.rit.edu/logout">Webauth Logout</a></li>
                    </ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </div><!-- /.navbar -->
    </navbar>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                                <div class="row">
                                    <div class="col-md-9 col-sm-12">
                                        <%= link_to "Users", {controller: :users, action: 'list_users'}, {class: "btn nav-button" } %>
                                        <%= link_to "Groups", {controller: :users, action: 'list_groups'}, {class: "btn nav-button" } %>
                                        <%= link_to "Years", {controller: :users, action: 'list_years'}, {class: "btn nav-button" } %>
                                        <%= link_to "E-Board", {controller: :users, action: :group, group: 'eboard'}, {class: "btn nav-button" } %>
                                        <%= link_to "RTPs", {controller: :users, action: :group, group: 'rtp'}, {class: "btn nav-button" } %>
                                        <%= link_to "Drink Admins", {controller: :users, action: :group, group: 'drink'}, {class: "btn nav-button"} %> 
                                        <%= link_to "Me", "/me", {class: "btn nav-button" } %>
                                    </div>
                                    <div id="search-bar" class="col-md-3 col-md-offset-0 col-sm-offset-6 col-sm-6 col-xs-offset-0 col-xs-12">
                                        <%= form_tag("/search", method: "post", id: 'search_form') do %>
                                            <%= text_field("search", "search", size: "21", placeholder: "search...", class: "form-control") %>
                                        <% end %>
                                    </div><!-- /#search-bar -->
                                </div><!-- /.row -->
                        </div><!-- ./pannel-title -->
                    </div><!-- ./pannel-heading -->

                    <% flash.each do |key, value| %>
                        <div data-alert class="alert alert-<%= key %>">
                            <%= value %>
                        </div>
                    <% end %>

                    <%= yield %>

                </div><!-- /.panel panel-default -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <br />
    <br />
    <div style="text-align:center;">
        <span class="text-center">
            <strong>
                JD - <a href="https://github.com/JDrit/Profiles">Profiles</a>
            </strong>
        </span>
    </div>
    <br />
  </body>
</html>
