<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSH Profiles</title>
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <navbar><!-- Navbar -->
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Profiles</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
            		<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-th-list"></span> Groups <span class="caret"></span></a>
					<ul class="dropdown-menu">
					<li><%= link_to "/groups" do %>
					<span class="glyphicon glyphicon-th"></span> All Groups
					<% end %></li>
                                        <li><%= link_to "/group/eboard" do %>
                                        <span class="glyphicon glyphicon-briefcase"></span> Executive Board
                                        <% end %></li>
                                        <li><%= link_to "/group/rtp" do %>
                                        <span class="glyphicon glyphicon-console"></span> Root Type People
                                        <% end %></li>
                                        <li><%= link_to "/group/drink" do %>
                                        <span class="glyphicon glyphicon-glass"></span> Drink Admins
                                        <% end %></li>
					</ul>
				</li>
				<li><%= link_to "/years" do %>
                                <span class="glyphicon glyphicon-time"></span> Years
                                <% end %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
                            <%= form_tag("/search", method: "post", id: 'search_form', class: 'navbar-form navbar-left') do %>
                                <%= text_field("search", "search", placeholder: "Search", class: "form-control") %>
                            <% end %>
                		<li class="dropdown navbar-user">
                    			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        			<img src="/image/<%= @uid %>">
                        			<%= @uid %>
                        			<span class="caret"></span>
                    			</a>
                    			<ul class="dropdown-menu">
						<li><%= link_to "/me" do %>
                                        	<span class="glyphicon glyphicon-user"></span> My Profile
                                        	<% end %></li>
						<li><a href="https://members.csh.rit.edu/logout">
                                        	<span class="glyphicon glyphicon-edit"></span> Logout
                                        	</a></li>
					</ul>
                		</li>
            		</ul>
                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </div><!-- /.navbar -->
    </navbar>

    <div class="container">
            <div class="col-md-12">

                    <% flash.each do |key, value| %>
                        <div data-alert class="alert alert-<%= key %>" style="margin: 15px;">
                            <%= value %>
                        </div>
                    <% end %>


                </div><!-- /.panel panel-default -->
                <%= yield %>
            </div><!-- /.col-md-12 -->
    </div><!-- /.container -->
    <br />
    <br />
    <div style="text-align:center;">
        <span class="text-center">
            <strong>
                <a href="https://github.com/JDrit/Profiles">Profiles</a>
            </strong>
        </span>
    </div>
    <br />
  </body>
</html>
